@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body{
    background: rgb(255, 255, 255);
    width: 100%;
 
}
main{
    margin: 3%;
}
/*
----------------------------- Containers Modulos ---------------------------------------
*/
#container-principal-1{
    border: 2px solid orange;
    height: 600px;
    background-image: url(../assets/image/2.png);   
    background-size: cover;
}
#botao-modulo-1{
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    color: rgb(209, 95, 3);
    margin-top: 29%;
    margin-left: 80%;
    padding: 1.7%;
    border: rgb(209, 95, 3) solid 2px;
    cursor: pointer;
}
#botao-modulo-1:hover{
    border: 3px solid rgb(209, 95, 3);
    color: #fff;
    background-color: rgb(209, 95, 3);
}
#container-principal-2{
    border: 2px solid purple;
    height: 600px;
    background-image: url(../assets/image/1.png);   
    background-size: cover;

}
#botao-modulo-2{
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    color: purple;
    margin-top: 29%;
    margin-left: 80%;
    padding: 1.7%;
    border: purple 2px solid;
    cursor: pointer;
}
#botao-modulo-2:hover{
    border: 3px solid purple;
    color: #fff;
    background-color: purple;
}
#container-principal-3{
    border: 2px solid black;
    height: 600px;
    background-image: url(../assets/image/3.png);   
    background-size: cover;
}
#botao-modulo-3{
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    color: black;
    margin-top: 29%;
    margin-left: 80%;
    padding: 1.7%;
    border: black 2px solid;
    cursor: pointer;
}
#botao-modulo-3:hover{
    border: 3px solid black;
    color: #fff;
    background-color: black;
}

/*
----------------------------- Containers Modulos Fim ---------------------------------------
*/




/*
------------------------------ Modulo 1 ---------------------------------------
*/
#container-principal{
    border: 2px solid orange;
    height: 600px;    
}

#logo{
    text-align: center;
    margin-top: 0.7%;
}
#perguntas{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    text-align: center;
    margin-top: 2%;
    justify-content: center;
    padding: 2%;
}
#repostas{
    width: 70%; 
}

.opcao__Button, .opcao__Correta{
    padding:1.3%;
    margin-left: 12%;
    margin-top: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: rgb(209, 95, 3);
    font-style: oblique;
    width: 80%;
    background-color: rgb(219, 216, 216);
    border-radius: 5%;
    
}
.opcao__Button:hover, .opcao__Correta:hover{
    border: 1px solid orange;
}

.opcao__Button:active{
    background-color: rgb(218, 18, 18);
    color: #fff;
}

.opcao__Correta:active{
    background-color: rgb(93, 138, 3);
    border: 1px solid rgb(93, 138, 3);
    color: #fff;
}

.image-quiz{
    text-align: center;
}
.button-image{
    margin-top: 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-style: oblique;
    padding: 1.0%;
    margin-left: 45%;
}
.button-image:hover{
    border: 1px solid orange;
}
.button-image:active{
    background-color: orange;
}

/*
-------------------------------- Modulo 2  -------------------------------------
*/
#container-principalC{
    border: 2px solid rgb(209, 6, 209);
    height: 600px;    
}
#perguntasC{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    text-align: center;
    margin-top: 0%;
    justify-content: center;
    padding: 2%;
}
.opcao__ButtonC, .opcao__CorretaC{
    padding:1.3%;
    margin-left: 12%;
    margin-top: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: rgb(117, 4, 93);
    font-style: oblique;
    width: 80%;
    background-color: rgb(219, 216, 216);
    border-radius: 5%;
    
}
.opcao__ButtonC:hover, .opcao__CorretaC:hover{
    border: 1px solid purple;
}

.opcao__ButtonC:active{
    background-color: rgb(218, 18, 18);
    color: #fff;
}

.opcao__CorretaC:active{
    background-color: rgb(93, 138, 3);
    border: 1px solid rgb(93, 138, 3);
    color: #fff;
}
#logoC{
    
    margin-top: 0.7%;
    margin-left: 47%;
}

/*
------------------------------- Modulo 3 -------------------------------------------
*/
#container-principalG{
    border: 2px solid rgb(0, 0, 0);
    height: 600px;    
}
#perguntasC{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    text-align: center;
    margin-top: 0%;
    justify-content: center;
    padding: 2%;
}
.opcao__ButtonG, .opcao__CorretaG{
    padding:1.3%;
    margin-left: 12%;
    margin-top: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-style: oblique;
    width: 80%;
    background-color: rgb(219, 216, 216);
    border-radius: 5%;
    
}
.opcao__ButtonG:hover, .opcao__CorretaG:hover{
    border: 1px solid rgb(0, 0, 0);
}

.opcao__ButtonG:active{
    background-color: rgb(218, 18, 18);
    color: #fff;
}

.opcao__CorretaG:active{
    background-color: rgb(93, 138, 3);
    border: 1px solid rgb(93, 138, 3);
    color: #fff;
}
#logoG{
    
    margin-top: 0.7%;
    margin-left: 45%;
}
/*
Fim
-----------------------
*/

#agradecimentos{
    border: 1px solid orangered;
    margin: 4%;
    height: 50%;
    border-radius: 10%;
    background-color: rgba( 155, 155, 155, 0.2 );
}
#container-principal-fim{
    border: 2px solid rgb(0, 0, 0);
    height: 600px;    
    
    
}
#body-fim{
    background-color: rgb(253, 170, 15);
    
}
#main-fim{
    background-color: rgba( 155, 155, 155, 0.73 );
}
#cabecalho-fim{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    text-align: center;
    margin-top: 2%;
    justify-content: center;
    padding: 2%;
}
#p-fim{
    border-bottom: 1px solid black;
    width: 10%;
    margin-left: 45%;
}