body{
    background: rgb(255, 255, 255);
    width: 100%;
 
}
main{
    margin: 3%;
}
#container-principal{
    border: 2px solid orange;
    height: 600px;
    
}
#logo{
    text-align: center;
    margin-top: 0.7%;
}
#perguntas{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    text-align: center;
    margin-top: 2%;
    justify-content: center;
    padding: 2%;
}
#repostas{
    width: 70%; 
}

.opcao__Button, .opcao__Correta{
    padding:3.5%;
    margin-left: 12%;
    margin-top: 6%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-style: oblique;
}
.opcao__Button:hover, .opcao__Correta:hover{
    border: 1px solid orange;
}

.opcao__Button:active{
    background-color: orange;
    color: #fff;
}

.opcao__Correta:active{
    background-color: rgb(93, 138, 3);
    border: 1px solid rgb(93, 138, 3);
    color: #fff;
}

.image-quiz{
    text-align: center;
}
.button-image{
    margin-top: 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-style: oblique;
    padding: 2.0%;
    margin-left: 45%;
}
.button-image:hover{
    border: 1px solid orange;
}
.button-image:active{
    background-color: orange;
}